# Kindly use a custom JWT_Secret or use this one for testing purposes
# Rename this file as ".env.local"

DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=
DB_DATABASE=boardsuite_management_system

# Just put anytthing inside here
JWT_SECRET="effbbiHjjBIgokjk875ch43456ughc"
