DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=
DB_DATABASE=boardsuite_management_system

# Just put anytthing inside here
JWT_SECRET="effbbiHjjBIgokjk875ch43456ughc"

GEMINI_API_KEY=AIzaSyCgEn_p1b2JU71RqgTGdmWvL-SPdz1ilT4